.image {
    border-radius: 50%;
    width: 282px; 
    height: 269px; 
    float: left;
    margin-left: 70px;
}

.quadrado {
    width: 100%;
    height: 308px;    
    gap: 0px;
    background-color: black;  
}

.nome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.apresenedata{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: bisque;
}

.quadradocomida{
background-color: black;
padding: 35px;
width: 68%;

}

.comida{
width: 249px;
height: 207px;
}

#apresentacao{
    display: flex;
    padding: 50px;
}
#conteiner{
margin-left: 50px;
width: 100%;
}
.quadradoserie{
    background-color: black;
    padding: 35px;
    width: 68%;
}
.serie{
width: 249px;
height: 207px;
}
.footer {
    background-color: #000000;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    border-top: 1px solid #ddd; 
    margin-top: 200px;
}